DOCTYPE(html)
html(ng-app='yn')
    head(lang="de")
        meta(charset="UTF-8")
        title
            | younow monitor
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
        script(src='/asset/js/code.js', type='text/javascript')
        link(href="/asset/css/style.css", rel="stylesheet", type="text/css")
    body(ng-controller="statsController")
        div.head
            h1 YNM - YouNow Monitor
            p Letzte Aktualisierung: 20.12.2015 20:30
            h2
                span.list {{currents.local}}
                    div
                        ul
                            li(ng-repeat="local in locals",ng-click="switchLocal(local)")
                                span {{local}}
                span #
                span.list {{currents.tag}}
                    div
                        ul
                            li(ng-repeat="tag in tags",ng-click="switchTag(tag.name)")
                                span {{tag.name}}

        //ul
            li(ng-repeat="tag in tags")
                span {{tag.name}}
        ul.users
            li(ng-repeat="user in users",style="background: url(http://cdn2.younow.com/php/api/channel/getImage/channelId="+'{{user.userId}}'+");")
                a(ng-href="http://www.younow.com/" + '{{user.profile}}', target="_blank",style="display:inline-block; width:100%; height:100%;")
                    //img(src="http://cdn2.younow.com/php/api/channel/getImage/channelId=" + '{{user.userId}}' + "", title="" + '{{user.username}}' + " " + '{{user.viewers}}')
                    span.tagname {{user.username}}
        //div.trendingUser
            h2 trending user
            ul
                li(ng-repeat="user in data.trending_users",style="float:left; style:none;")
                    a(href="http://www.younow.com/"+ '{{user.profile}}', target="_blank")
                        img(src="http://cdn2.younow.com/php/api/channel/getImage/channelId=" + '{{user.userId}}' + "", title="" + '{{user.username}}' + " " + '{{user.viewers}}')
                        span.tagname {{user.tags[0]}}
        //div(style="clear: both;")
        //div.trendingTags
            h2 trending tags
            div
                table
                    tr(ng-repeat="tag in data.trending_tags")
                        td= '#'+'{{tag.tag}}'